<div class="row">
  <h1 align="center">Test Registration Form</h1>
  <div class="small-4 columns end">
    <label>Already a current user?</label>
    <a href="/login" class="button tiny secondary">Sign In</a>
  </div>
</div>
<div class="row">
  <form id="register" class="large-9 large-centered columns">
    <label>First Name:</label>
    <input type="text" name="firstname" />
    <label>Last Name:</label>
    <input type="text" name="lastname" />
    <label>Username:</label>
    <input type="text" name="username" />
    <label>Password:</label>
    <input type="password" name="password" />
    <input type="submit" class="button secondary expand" />
  </form>
</div>
